.bgRed {
  background-color: red;
  color: #fff;
}

.bgBlack {
  background-color: black;
  color: #fff;
}
.bgBlue {
  background-color: blue;
  color: #fff;
}
.bgBrown {
  background-color: brown;
  color: #fff;
}

.bgCoral {
  background-color: coral;
  color: #fff;
}

.bgCyan {
  background-color: cyan;
  color: #000;
}

.bgGreen {
  background-color: green;
  color: #fff;
}
